:root {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.map {
  position: relative;
  border: 1px solid black;
  width: 320px;
  height: 320px;
  margin: 50px auto;
}

.map__buttons {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: flex-end;   
}

.map__btn {
  margin: 5px;
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 1px;
  border-radius: 2px;
  outline: none;
  background-color: white;
  box-shadow: 0 0 4px rgb(39, 39, 39);
}

.map__content {
  background-image: url("./images/map-placeholder.jpg");
  width: 100%;
  height: 100%;
}

.problemPage {
    border: 5px solid #E9CCB1;
    border-radius: 10px;
    padding: 20px 30px;
    margin: 10% auto;
    width: 50%;
    background: #F4DAC2;
    line-height: 3em;
}

.reportHead{
    text-align: center;
    text-decoration: underline;
    color: #ce2029;
}

.insideBox{
    margin: auto;
    padding: 0px 30px;
}