:root {
  box-sizing: border-box;
  height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}

#map-canvas { 
  height: 100%; 
}

.hydrant-info__head {
  display: flex;
  align-items: center;
}

.hydrant-info__img {
  width: 100px;
  height: auto;
}

.hydrant-info__btns {
  display: flex;
  justify-content: center;
}

.hydrant-info__btn {
  margin: 4px;
}

.problemPage {
    border: 5px solid #E9CCB1;
    border-radius: 10px;
    padding: 10px 15px;
    margin: 0 auto 10px auto;
    background: #F4DAC2;
    line-height: 3em;
    max-width: 318px;
}

.closebtn{
  float: right;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 50%;
  box-shadow: 0 1px #999;
}
.closebtn:active {
  background-color: #3e8e41;
  box-shadow: 0 3px #666;
  transform: translateY(4px);
}

.reportHead{
    text-align: center;
    text-decoration: underline;
    color: #ce2029;
    margin-bottom: 0px;
}

.insideBox{
    margin: auto;
    padding: -15px 25px;
}

.subbtm {
  display: flex;
  width: 25%;
}