:root {
  box-sizing: border-box;
  height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}

#map-canvas { 
  height: 100%; 
}

.problemPage {
    border: 3px solid gray;
    border-radius: 10px;
    padding: 10px 15px;
    margin: 0 auto 10px auto;
    background: #E0E0E0;
    line-height: 3em;
    max-width: 318px;
}

.closebtn{
  float: right;
  color: black;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.closebtn:active {
  background-color: #3e8e41;
  box-shadow: 0 3px #666;
  transform: translateY(4px);
}

.reportHead{
    text-align: center;
    text-decoration: underline;
    color: black;
    margin-bottom: 0px;
}

.insideBox{
    margin: auto;
    padding: -15px 25px;
}

.subbtm {
  display: flex;
  width: 30%;
  text-align: center;
}
